<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>speed</key>
			<real>1</real>
			<key>color</key>
			<string>orange</string>
			<key>grunts</key>
			<integer>12</integer>
			<key>humans</key>
			<integer>2</integer>
			<key>hulks</key>
			<integer>0</integer>
			<key>spheroids</key>
			<integer>0</integer>
			<key>electrodes</key>
			<integer>5</integer>
			<key>electrodeType</key>
			<string>star</string>
			<key>electrodeColor</key>
			<string>colorCycle1</string>
		</dict>
		<dict>
			<key>speed</key>
			<integer>1</integer>
			<key>color</key>
			<string>yellow</string>
			<key>grunts</key>
			<integer>17</integer>
			<key>humans</key>
			<integer>3</integer>
			<key>hulks</key>
			<integer>4</integer>
			<key>spheroids</key>
			<integer>1</integer>
			<key>electrodes</key>
			<integer>15</integer>
			<key>electrodeType</key>
			<string>snowflake</string>
			<key>electrodeColor</key>
			<string>colorCycle7</string>
		</dict>
		<dict>
			<key>speed</key>
			<real>1.01</real>
			<key>color</key>
			<string>red</string>
			<key>grunts</key>
			<integer>22</integer>
			<key>humans</key>
			<integer>6</integer>
			<key>hulks</key>
			<integer>5</integer>
			<key>spheroids</key>
			<integer>3</integer>
			<key>electrodes</key>
			<integer>25</integer>
			<key>electrodeType</key>
			<string>square</string>
			<key>electrodeColor</key>
			<string>colorCycle2</string>
		</dict>
		<dict>
			<key>speed</key>
			<real>1.03</real>
			<key>color</key>
			<string>red</string>
			<key>grunts</key>
			<integer>35</integer>
			<key>humans</key>
			<integer>6</integer>
			<key>hulks</key>
			<integer>5</integer>
			<key>spheroids</key>
			<integer>4</integer>
			<key>electrodes</key>
			<integer>25</integer>
			<key>electrodeType</key>
			<string>triangle</string>
			<key>electrodeColor</key>
			<string>colorCycle6</string>
		</dict>
		<dict>
			<key>speed</key>
			<real>1.03</real>
			<key>color</key>
			<string>red</string>
			<key>grunts</key>
			<integer>35</integer>
			<key>humans</key>
			<integer>6</integer>
			<key>hulks</key>
			<integer>5</integer>
			<key>spheroids</key>
			<integer>4</integer>
			<key>electrodes</key>
			<integer>25</integer>
			<key>electrodeType</key>
			<string>triangle</string>
			<key>electrodeColor</key>
			<string>colorCycle6</string>
		</dict>
		<dict>
			<key>speed</key>
			<real>1.09</real>
			<key>color</key>
			<string>purple</string>
			<key>grunts</key>
			<integer>32</integer>
			<key>humans</key>
			<integer>9</integer>
			<key>hulks</key>
			<integer>7</integer>
			<key>spheroids</key>
			<integer>4</integer>
			<key>electrodes</key>
			<integer>25</integer>
			<key>electrodeType</key>
			<string>diamond</string>
			<key>electrodeColor</key>
			<string>colorCycle1</string>
			<key>brains</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
